<a href="https://colab.research.google.com/github/Merm-A-de/Dice_Sim/blob/main/LGIM062222.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#greater than less than with exception handling if the input isn't an integer

def try_exception(n):
  bar = 13
  if type(n) != int:
    try:
      print(n, "is not an integer")
    except:
      print("didn't work")
  elif int(n) >= bar:
    return("Less Than")
  elif int(n) <= bar:
    return("Greater Than")
  else:
    print("")
    #except n as exception:
     # print(exception)

try_exception("n")

n is not an integer

In [22]:
# Recipricol function

def recipricol(numb):
  return(round(1/numb,4))

recipricol(7)

0.1429

In [27]:
# Return output of a range except certain numbers

def return_excepts(n, m):
  for i in range(n, m):
    print(i)
    

return_excepts(0,3)

0
1
2

In [28]:
# Return output of a range except certain numbers

def return_excepts(n, m):
  for i in range(n, m):
    return(i)
    #when i change the code from the above module to instead return than print i
    # only the first int in the list is output

    # how to RETURN with ALL values

return_excepts(0,3)

0

In [34]:
 # Return output of a range except certain numbers

def return_excepts(n, m):
  value = list(range(n, m))  
  return value
  # able to return all in a list
return_excepts(0,3)

[0, 1, 2]

In [35]:
 # Return output of a range except certain numbers

def return_excepts(n, m):
  value = dict(range(n, m))  
  return value
  # not able to return all in a dict 
return_excepts(0,3)

TypeError: ignored

In [36]:
 # Return output of a range except certain numbers

def return_excepts(n, m):
  value = tuple(range(n, m))  
  return value
  # able to return all in a list
return_excepts(0,3)

(0, 1, 2)

In [41]:
 # Return output of a range except certain numbers

def return_excepts(n, m):
  value = tuple(range(n, m))  
  for i in value:
    return i
  # able to return all in a list
return_excepts(0,3)

0

In [42]:
 # Return output of a range except certain numbers

def return_excepts(n, m):
  value = list(range(n, m))  
  for i in value:
    return i
  # able to return all in a list
return_excepts(0,3)

0

In [40]:
 # Return output of a range except certain numbers

def return_excepts(n, m):
  value = list(range(n, m))  
  for i in value:
    print(i)
  # able to return all in a list
return_excepts(0,3)

0
1
2

In [61]:
#returning all numbers in a range except those that are divisible by 3

def return_no_thirds(n, m):
  rangy = list(range(n, m))
  for i in rangy:
    if i %3 == 0:
      continue
    else:
      print(i)


return_no_thirds(0,48)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47

In [65]:
import random
from random import choice, choices, sample

In [79]:
def roulette_colors(t):
  red = [1, 3, 5, 7,
            9, 12, 14, 16, 18, 19, 21, 
            23, 25, 27, 
            30, 32, 34, 36,]
  possib = [1, 2, 3, 4, 5, 6, 7, 8,
            9, 10, 11, 12, 13, 14, 15,
            16, 17, 18, 19, 20, 21, 22,
            23, 24, 25, 26, 27, 28, 29,
            30, 31, 32, 33, 34, 35, 36, -1, -2]
  
  
  
    #for i in range(t):
   # print((random.choice(possib)))
  
  print(black)
roulette_colors(37)

NameError: ignored

In [75]:
def lots(l, z):
  x = (list(range(l,z)))
  print(x)
lots(0,37)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]

In [74]:
import requests

link = "https://qph.cf2.quoracdn.net/main-qimg-de1b69212b18a79f2e7ab68ce5a2e6f1"
requests.get(link)